*,*:before, *:after {
    @include box-sizing(border-box);
}

body {
    font: #{$browser-context}px / 1.2 $base-font-family;
    color: $base-color;
    font-weight: $normal;
    background: $body-color;
}

ul {
    padding: 0;
    list-style-type: none;
    margin: 0;
}

a {
    text-decoration: none;
}

p {
    color: $p-color;
    font-weight: $normal;
    font-size: em(13);
    line-height: $p-line-height;
}

input {
    border: 0;
    font-family: $base-font-family;
    color: $input-color;
    @include placeholder($placeholder-color);
    &:focus {
        outline: 0;
    }
}
