$browser-context: 16;

$container-width: 1170px;

$container-gutter: 15px;

$base-font-family: 'Open Sans', sans-serif;
$light:        300;
$normal:       400;
$semibold:     600;
$bold:         700;
$extrabold:    800;
$base-color: #384d5c;

$font-icon-color: #cdd2d6;
$font-icon-color-hover: #fff;

$gallery-item-hover: #21b697;

$base-transition-duration: 300ms;