//fonts
$browser-context: 16;
$base-font-family: 'Open Sans', sans-serif;
$light:        300;
$normal:       400;
$semibold:     600;
$bold:         700;
$extrabold:    800;
$base-color:   #fff;

$bg-color-1: #515f67;
$bg-color-2: #4bcaff;

//grid
$container-width: 1170px;
$cw: $container-width;
$container-gutter: 15px;
$cg: $container-gutter;

$transition-duration: 300ms;


