//fonts
$browser-context: 16;
$base-font-family: 'Roboto', sans-serif;
$normal:       400;
$medium:       500;
$bold:         700;
$base-color: #919191;


//grid
$container-width: 1180px;
$container-gutter: 10px;

$transition-duration: 300ms;

$p-line-height: 1.667;
$p-color: #919191;